<div class="Input">
  <input
    type="text"
    class="form-control"
    [(ngModel)]="result"
    [ngClass]="{ 'ng-not-empty': result }"
    (click)="onShowCalendar($event)"
    (focus)="onShowCalendar($event)"
    readonly
  />
  <div class="date" [ngClass]="{ isActive: showCalendar }">
    <div class="month-indicator">
      <i class="control indicator" (click)="updateMonth($event, 'dec')">«</i>
      <div class="month-text">
        <span class="month">{{ months[month] }}</span>
        <span class="year">{{ year }}</span>
      </div>
      <i class="control indicator" (click)="updateMonth($event, 'inc')">»</i>
    </div>
    <div class="day-of-week">
      <span class="week">Mon</span>
      <span class="week">Tue</span>
      <span class="week">Wed</span>
      <span class="week">Thu</span>
      <span class="week">Fri</span>
      <span class="week">Sat</span>
      <span class="week">Sun</span>
    </div>
    <div class="date-grid">
      <span
        class="day control"
        *ngFor="let day of days"
        [ngClass]="{
          isSelected: day === date.getDate(),
          deactive: !day
        }"
        (click)="selectDay(day)"
      >
        {{ day }}
      </span>
    </div>
  </div>
</div>
