.date {
  z-index: 10000;
  width: 255px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: absolute;
  display: none;
  background-color: #fff;
}
.date.isActive {
  display: block;
}

.month-indicator {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #0a95ff;
  text-align: center;
  font-weight: 500;
  padding: 5px 0;
}

.day-of-week,
.date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.day-of-week {
  margin: 0;
  padding: 5px 0;
  background-color: #ddd;
}

.day-of-week {
  text-align: center;
}

.date-grid span:first-child {
  grid-column: 6;
}

.day:hover {
  background-color: #cccccc;
}
.day.isSelected {
  background-color: #0a95ff;
  color: #fff;
}

.month {
  margin-right: 5px;
}

.control {
  cursor: pointer;
}

.indicator {
  padding: 0 5px;
}

.deactive:hover {
  cursor: default;
  background-color: #fff;
}
